# ── Python ────────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente
.env

# ── Node / Angular ────────────────────────────────────────────────────────────
front/node_modules/
front/dist/
front/.angular/
front/out-tsc/

# ── Logs ─────────────────────────────────────────────────────────────────────
*.log
npm-debug.log*

# ── Sistema ──────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
